<div class="menu">
  <p>Ubicacion</p>
  <mat-form-field>
  <mat-select [formControl]="pokemonControl">
    <mat-optgroup *ngFor="let place of places" [label]="place.name"
                  [disabled]="place.disabled">
      <mat-option *ngFor="let placeEvent of place.placeEvents" [value]="placeEvent._id">
        {{placeEvent.name}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
</div>
<div class="container">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [formControl]="scoreControl">
        <mat-button-toggle value="0">Malo</mat-button-toggle>
        <mat-button-toggle value="5">Regular</mat-button-toggle>
        <mat-button-toggle value="10">Bueno</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<button class="miboton" mat-raised-button color="primary" [disabled]="!scoreControl.valid" (click)="postScore()">Enviar</button>

<p>Indica tu Experiencia</p>
<p>o</p>
<p>Inicia sesion y deja un comentario</p>
