<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ quejas[0].description }}</mat-card-title>
      <mat-card-subtitle>{{ quejas[0].status }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>Lugar</h2>
      <h3>{{ quejas[0].placeEvent.name }}</h3>
      <h2>Fecha y Hora</h2>
      <h3>{{ quejas[0].registerDate }}</h3>
      <h2>User Rate</h2>
      <h3>{{ quejas[0].userRate }}</h3>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
