<mat-accordion multi="true" *ngIf="quejas.length > 0">
    <mat-expansion-panel *ngFor="let queja of quejas">
      <mat-expansion-panel-header>
        <h2> {{ queja.registerDate }} </h2>
      </mat-expansion-panel-header>
      <h3>Descripcion</h3>
      <p>{{ queja.description }}</p>
      <h3>Estado</h3>
      <p>{{ queja.status }}</p>
      <mat-action-row>
        <button mat-button color="primary" routerLink="../verqueja/{{ queja._id }}">ABRIR</button>
      </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
