<mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <form #loginForm="ngForm">
        <mat-form-field>
            <input
              matInput
              type="email"
              name="email"
              ngModel
              required email
              placeholder="Email"
              #emailInput="ngModel">
            <mat-error *ngIf="emailInput.invalid">Ingrese un correo valido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              name="password"
              ngModel
              required
              placeholder="Password"
              #passwordInput="ngModel">
              <mat-error *ngIf="passwordInput.invalid">Ingrese una contrasena valida</mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            color = "primary"

            type="submit" (click)="login()" routerLink="/misquejas">Login
          </button>

    </form>
  </mat-card>

