<div class="elementView flexBox space">
  <div class="dataFormWrapper">
    <div class="dataFormLabel flexBox centerVertical">
      <h1>Información</h1>&nbsp;&nbsp;&nbsp;
      <mat-icon color="accent">help_outline</mat-icon>
    </div>
    <div class="formViewContainer appBox">
      <app-form [questions]="elementQuestions" [oneCol]="true"
      [baseData]="elementData" (submitForm)="submitForm($event)"></app-form>
    </div>
  </div>
  <div class="elementControls flexBox column" *ngIf="elementData">
    <button mat-raised-button color="primary" (click)="setStatus('inactive')" *ngIf="elementData?.status=='draft' || elementData?.status=='active'">BLOQUEAR</button>
    <button mat-raised-button color="primary" (click)="setStatus('draft')" *ngIf="elementData?.status=='active' || elementData?.status=='inactive'">BORRADOR</button>
    <button mat-raised-button color="primary" (click)="setStatus('active')" *ngIf="elementData?.status=='inactive' || elementData?.status=='draft'">ACTIVAR</button>
    <button mat-raised-button color="primary" (click)="deleteElement()" *ngIf="elementData?.status=='inactive'">ELIMINAR</button>
    <div class="statusBox">
      <div class="info flexBox">
        <span>Estatus: </span><span>{{statusMap[elementData?.status]}}</span>
      </div>
      <div class="info flexBox">
        <span>Registro: </span><span>{{elementData?.registerDate | date}}</span>
      </div>
    </div>
  </div>
</div>
